# Python cache
__pycache__/
*.pyc

# Virtual environment (do not remove, only ignore)
venv/

# Trained model file
models/*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
